/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
  background: blanchedalmond;
  color: rgb(59, 11, 11);
}

#idInput {
  float: left
}

.buttonsContainer {
  position: relative;
}

.button{
  display: inline-block;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(173, 106, 18);
  text-align: center;
  width: 100%;
  max-width: 300px;
  font-size: 18px;
}

#cardContainer {
  /* display:flex;
  flex-direction: row; */
  display: inline;
  border: 1px solid #ccc;
  /* flex-wrap: wrap; */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    flex: 2;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }