<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Test HTML</title>
  </head>
  <body>
    <h1>Cart History</h1>
    <button type="button" class="btn btn-dark" onclick="getCartItem()">
      Get Cart History
    </button>
    <span id="j"></span>

    <div class="tableLeft">
      <span id="c"></span>
    </div>

    <div class="tableRight">
      <span id="h"></span>
    </div>
  </body>

  <script>

    async function getCartItem() {
      const httpResponse = await fetch("http://ec2-54-219-132-12.us-west-1.compute.amazonaws.com:8080/cartitem");
      const body = await httpResponse.json();
      var myHistory =
        '<table class="table table-bordered table-striped table-hover" style="width: 50%;"> <thead> <th scope="col">Item</th>  <th scope="col">Price</th> <th scope="col">Date</th> </thead>';
          let y = window.localStorage.getItem("userName");
          let userName = y;

      for (let i = 0; i <= body.length; i++) {
        let user = JSON.stringify(body[i], ["cartHistory", "user", "username"]);
        user = user.replace(/"cartHistory":/g, "");
        user = user.replace(/"user":/g, "");
        user = user.replace(/"username":/g, "");
        user = user.replace(/[{}, ""]/g, "");

        let cartDate = JSON.stringify(body[i], ["cartHistory", "date"]);
        cartDate = cartDate.replace(/"cartHistory":/g, "");
        cartDate = cartDate.replace(/"date":/g, "");
        cartDate = cartDate.replace(/[{}, ""]/g, "");

        let item = JSON.stringify(body[i], ["item", "itemName"]);
        item = item.replace(/"item":/g, "");
        item = item.replace(/"itemName":/g, "");
        item = item.replace(/[{}, ""]/g, "");

        let price = JSON.stringify(body[i], ["item", "price"]);
        price = price.replace(/"price":/g, "");
        price = price.replace(/"item":/g, "");
        price = price.replace(/[{}, ""]/g, "");

        if (userName == user) {
          if (cartDate == 0 || cartDate == null) {
          } else {
            myHistory +=
              "<tr> <td>" +
              item +
              "</td><td>" +
              "$" +
              price +
              "</td><td>" +
              cartDate +
              "</td> </tr>";
            document.getElementById("h").innerHTML = myHistory;
          }
        }
      }
    }
  </script>
</html>
