<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <style>
        .btn{
            margin: 20px 15%;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome to Online Shopping Cart!</h1>

    <div class="header">
        <div class="topnav" id="myTopnav">
            <a href="homepage.html" class="active">Home</a>
            <a href="shoppingcart.html">Cart</a>
            <a href="itemspage.html">Store</a>
            <a href="cartHistory.html">Orders</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <p>
        If this is your first time visiting this page, Click 'Create New Account' button to Create your new account.
    </p>
    
    <br>
    <a href="createuser.html"> 
        <button class="btn">Create New Account</button>
    </a>
    <br>

    <p>
        If you already have an account, Click 'Sign in' button to login to your account.
    </p>

    <br>
    <a href="loginuser.html"> 
        <button class="btn">Sign in</button>
    </a>

</body>
</html>